body {
    margin-top: 100px;
    min-width: 1400px;
}

section {
  width: 60%;
  margin: 0 auto;
}

.booking-detail {
    min-height: 600px;
    margin: 0 10px;
    margin-bottom: 50px;
    padding: 20px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 5px 24px rgba(0,0,0,0.18);
}

.booking-heading {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 6px;
    margin: 0 15px 0 15px;
    background: linear-gradient(to right, #421e72, #8f5ad4);
}

.booking-item {
    margin: 15px 0 15px 50px;
    padding: 15px;
    font-size: 14px;
}

.booking-item img{
    height: 48px;
}

.booking-info {
    padding: 8px;
}

.booking-info img{
  margin-bottom: 15px;
}

.booking-label {
    font-size: 16px;
    font-weight: bold;
}

.booking-value {
    font-size: 14px;
    color: rgb(90, 89, 89);
}

.ticket-heading {
  margin: 20px 0 20px 60px
}

.qr-ticket-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-left: 50px;
    margin-right: 20px;
    justify-content: center;
}

.qr-ticket-container > * {
    flex: 0 0 calc(25% - 30px); /* Ensures 4 items per row with gap adjustment */
    box-sizing: border-box; /* Prevents padding/margins from breaking layout */
}

.ticket-container {
  max-width: 245px;
  min-width: 210px;
  overflow: hidden;
  box-shadow: 0 0 10px rgb(202, 202, 204);
  border-radius: 2px;
}

.details {
  padding: 26px;
  background:white;
  border-top: 1px dashed #c3c3c3;
}

.info {
  font-size: 0.5em;
  font-weight: 300;
  color: #c3c3c3;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin:7px 0;
}

.data {
  font-size: 0.7em;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.5px;
  margin:7px 0;
}

.name {
  font-size: 1.3em;
  font-weight: 300;
}

.link {
  text-align: center;
  margin-top:10px;
}

.hqr{
  display: table;
  width: 100%;
  min-width: 210px;
  table-layout: fixed;
  margin: 0px auto;
}

.left-one{
  background-repeat: no-repeat;
  background-image: radial-gradient(circle at 0 96% , rgba(0,0,0,0) .2em, gray .3em, white .1em);
}

.right-one{
  background-repeat: no-repeat;
  background-image: radial-gradient(circle at 100% 96% , rgba(0,0,0,0) .2em, gray .3em, white .1em);
}

.column
{
    display: table-cell;
    padding: 37px 0px;
    min-width: 70px;
}

.center{
  background:white;
}

.qrcode img{
  height:70px;
  width:70px;
  margin: 0 auto;
  cursor: pointer;
}

.masinfo{
  display:block;
}

.left,.right{
    width: 70%;
  display:inline-table;
}

.nesp{
  letter-spacing: 0px;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.modal-content img {
    width: 300px;
    height: 300px;
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    body {
      min-width: 400px;
    }

    section {
      width: 100%;
      margin: 0 0;
    }

    .booking-item {
        margin-left: 10px;
    }   

    .ticket-heading {
      margin: 30px 0 15px 20px
    }
    .qr-ticket-container {
        flex-wrap: wrap;
        gap: 30px;
        margin: 0 20px 0 20px;
        justify-content: space-around;
    }

    .ticket-container {
        max-width: 210px;
        flex: 0 0 calc(50% - 15px); /* Adjusts to 2 per row, accounting for gap */
    }
}