.ticket-info-section {
    display: flex;
    padding: 20px;
    gap: 20px;
    margin: 75px auto 0 auto;
    width: 80%;
    align-items: flex-start; /* Added to prevent height synchronization */
}

/* === whole passenger info box === */
.passenger-info-box {
    background: #fff;
    border: 1px solid #000;
    padding: 20px;
    width: 70%;
    box-sizing: border-box;
    border-radius: 5px;
    min-height: 400px;
}

/* === passenger info heading ==== */
.passenger-head-info {
    display: flex;
    justify-content: space-between;
}

/* === whole ticket info box === */
.ticket-details-box {
    background: #fff;
    border: 1px solid #000;
    padding: 10px;
    width: 30%;
    box-sizing: border-box;
    border-radius: 5px;
    
}

/* === heading of both info box === */
.passenger-info-box h2, .ticket-details-box h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: black;
    margin-top: 5px;
}

/* === passenger info details part*/
.passenger-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.passenger-info-details {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.passenger-info {
    display: flex;
    flex-direction: row;
    flex: 1 1 50%; /* Each passenger block takes 50% width */
    padding: 10px;
    background: rgb(245, 245, 252);
    border-radius: 12px;
    box-shadow: 0 5px 12px rgba(0,0,0,0.08);
}

.passenger-item, .details-item {
    flex: 1; /* Allows items to grow and fill available space within passenger-info */
}

.passenger-label {
    display: block;
    font-weight: bold;
    color: black;
    margin-bottom: 5px;
}

.passenger-subtext {
    display: block;
    color: grey;
    margin-bottom: 5px;
}

.details-label {
    display: block;
    font-weight: bold;
    color: #000;
    margin-bottom: 5px;
}

.details-value {
    display: block;
    color: grey;
    margin-bottom: 10px;
}

/* === trip details part === */
.trip-details {
    margin-top: 15px;
    margin-bottom: 15px;
}

.trip-details img {
    height: 75px;
    width: 90px;
    object-fit: contain;
    border-radius: 6px;
    background: #eaf8f4;
}

.trip-details-col {
    display: flex;
    gap: 10px;
    align-items: center;
}

.trip-info {
    padding: 10px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 5px 12px rgba(0,0,0,0.08);
}

.trip-details .label {
    display: inline-block;
    font-weight: bold;
    font-size: 10px;
    color: white;
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: #6d54b5;
    border: none;
    padding: 6px 8px;
    border-radius: 4px;
}

.trip-details div {
    margin-bottom: 5px;
    color: grey;
    font-size: 14px;
}

.change-journey {
    color: #2036b1;
    font-weight: bold;
    text-decoration: none;
    display: block;
    margin-top: 12px;
    padding-right: 25px;
    font-size: 14px;
}

.trip-price-info {
    padding-top: 20px;
    font-size: 12px;
}

.price-info, .total-price-info{
    display: flex;
    justify-content: space-between;
}

.total-price-info a{
    font-weight: bolder;
    font-size: 18px;
    color: black;
}

.proceed-payment {
    background-color: #6d54b5;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
}

/* === Select Seat Part === */
.select-seat-section {
    padding: 0 20px 20px 20px;
    gap: 20px;
    margin: 0 auto;
    width: 80%;
    align-items: flex-start;
}

.seat-info-box {
    background: #fff;
    border: 1px solid #000;
    padding: 15px;
    width: 69%;
    box-sizing: border-box;
    border-radius: 5px;
    min-height: 400px;
}

.seat-head-info {
    margin-top: 5px;
}

/* === Seat status part === */
.seat-status {
    padding: 15px;
    margin-top: 10px;
    display: flex;
    gap: 20px;
    justify-content: left;
}

.status-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.seat-info {
    padding: 15px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 5px 12px rgba(0,0,0,0.08);
}

.status-color {
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 4px;
}

.available {
    background-color: #bada55;
    border: 2px solid #000;
}

.selected {
    background-color: #FF9800;
    border: 2px solid #000;
}

.unavailable {
    background-color: #F42536;
    border: 2px solid #000;
}

.status-label {
    font-size: 16px;
    color: #333;
}

/* === select coach part ===*/
.coach-select {
    border-radius: 5px;
    margin-top: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.coach-select label {
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

.coach-select select {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
}

.coach-select select:focus {
    outline: none;
    border-color: #6d54b5;
    box-shadow: 0 0 5px rgba(109, 84, 181, 0.3);
}

/* === Seat select Content Part === */
*,*:before,*:after {
  box-sizing: border-box;
}
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.train {
  margin: 20px auto;
  max-width: 250px;
}

.exit {
  display: flex;
  flex-direction: row;
  padding: .5rem 0;
  div {
    flex: 1;
    background: #d8d8d8;
    text-align: center;
    justify-content: center;
    height: 40px;
    line-height: 40px;
    &:nth-child(2) {
      flex: 0 1 20%;
      background: #fff;
    }
  }
  &.back {
    flex-direction: row-reverse;
  }
}

.train-body {
  border-right: 5px solid #d8d8d8;
  border-left: 5px solid #d8d8d8;
}

ol {
  list-style :none;
  padding: 0;
  margin: 0;
}

.seats {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;  
}

.seat {
  display: flex;
  flex: 0 0 21%;
  padding: 5px;
  position: relative;  
  &:nth-child(2) {
    margin-right: 15%;
  }
  input[type=checkbox] {
    position: absolute;
    opacity: 0;
  }
  input[type=checkbox]:checked {
    + label {
      background: #FF9800;      
      -webkit-animation-name: rubberBand;
          animation-name: rubberBand;
      animation-duration: 300ms;
      animation-fill-mode: both;
    }
  }
  input[type=checkbox]:disabled {
    + label {
      background: #dddddd;
      text-indent: -9999px;
      overflow: hidden;
      &:after {
        content: "X";
        text-indent: 0;
        position: absolute;
        top: 4px;
        left: 50%;
        transform: translate(-50%, 0%);
      }
      &:hover {
        box-shadow: none;
        cursor: not-allowed;
      }
    }
  }
  label {    
    display: block;
    position: relative;    
    width: 100%;    
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5rem;
    padding: 4px 0;
    background: #bada55;
    border-radius: 5px;
    animation-duration: 300ms;
    animation-fill-mode: both;
    
    &:before {
      content: "";
      position: absolute;
      width: 75%;
      height: 75%;
      top: 1px;
      left: 50%;
      transform: translate(-50%, 0%);
      background: rgba(255,255,255,.4);
      border-radius: 3px;
    }
    &:hover {
      cursor: pointer;
      box-shadow: 0 0 0px 2px #5C6AFF;
    }
    
  }
}

@-webkit-keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
            transform: scale3d(.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
            transform: scale3d(1.05, .95, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
            transform: scale3d(.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
            transform: scale3d(1.05, .95, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  -webkit-animation-name: rubberBand;
          animation-name: rubberBand;
}

@media (max-width: 768px) {
    .ticket-info-section {
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .passenger-info-box, .ticket-details-box {
        width: 90%;
        padding: 15px;
        margin: 0 auto;
        min-height: 270px;
    }

    .passenger-head-info {
        flex-direction: column;
    }

    .passenger-container, .passenger-info-details {
        flex-direction: column;
        gap: 10px;
    }

    .passenger-info {
        flex: 1 1 100%;
        padding: 8px;
    }

    .trip-details .trip-segment {
        margin: 10px 0;
    }

    .change-journey {
        padding-right: 0;
        padding-left: 5px;
    }

    .select-seat-section {
        width: 95%;
        padding: 10px;
        gap: 10px;
    }

    .seat-info-box {
        width: 100%;
        padding: 15px;
        min-height: 300px;
    }

    .seat-status {
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        justify-content: center;
    }

}